body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
	margin: 0; padding: 0; border: 0;
}

body {
	font: 18px/30px Sans-serif; color: #fff;
	font-family: "proxima-nova";
}

li{
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}



section {
	overflow: hidden; 
}



#intro { 
	height: 3000px;
	background:url(images/background.jpg);
    background-size: cover;
}

#shop{
	height: 2400px;
	background-color: #f4f4f4;

}


.sun{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.infor{
	position: absolute;
	width: 100%;
	height: 100%;
}

.artist{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 100px
}

.store{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 170px
}

.title{
	position: absolute;
}

.frame{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.wave{
	position: absolute;
    bottom:-10px;
    width: 100%;
}

.band{
	position: fixed;
    bottom: -10px;
    width: 100%;
}

.human{
	position: absolute;
    bottom:0px;
    width: 100%;
}

#secondanimation{
	background-color:grey;
}

.secondanimation{
	background-color:grey;
	width: 100%;
	height: 100%;
}

.worldafterdeath{
	position: absolute;

}

.date{
	position: absolute;
}

.japanese{
	position: absolute;
}

.sfmoma{
	width: 100%;
	position:fixed;
	top: 0;
	
	
}

.sfmoma p{
	color: #ff5045;
	padding-bottom: 10px;
	text-align: center;
	background-color: white;
	position: relative;
	top: -9px;
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.35);
	padding-top: 1px;
	font-size: 0.9em;
	height: 20px;
}

.stage{
	position: absolute;
	left: 10%;
    top: 200px;
	background-color: transparent;
	height: 65%;
	width: 80%;
	float: left;
}

.box{
	box-shadow: 0px 20px 23px -15px rgba(0,0,0,0.45);
	margin:1%;
	height: 20%;
	width: 31.3%;
	float: left;
	background-color: grey;
	position: relative;
	transition: 0.5s;
	font-weight: 500;
	font-size: 2em;
  
}

.box:hover{
	transform: scale(1.05,1.05);


}

.aa{
	background-image: url(pen.jpg);
	background-size: cover;
	width: 64.6%;
	text-shadow: 0px 0px 6px #39494c;
	text-align: right;
		padding: 2%;
}

.bb{
   background-image: url(cup.jpg);
	background-size: cover;
		text-shadow: 0px 0px 6px #39494c;
	text-align: right;
		padding-top: 2%;
		
}

.cc{
   background-image: url(bag.jpg);
	background-size: cover;
	height: 42%;
	text-shadow: 0px 0px 6px #39494c;
	text-align: right;
		padding-top: 2%;

}

.dd{
   background-image: url(shirt.jpg);
	background-size: cover;
	text-shadow: 0px 0px 6px #39494c;
	text-align: left;
		padding-top: 2%;
	;
}
.ee{
   background-image: url(notebook2.jpg);
	background-size: cover;
	text-shadow: 0px 0px 6px #39494c;
	text-align: left;
		padding-top: 2%;
	
}
.ff{
   background-image: url(images/ring.jpg);
	background-size: cover;
	width: 64.6%;
}

.gg{
   background-image: url(images/pistal.jpg);
	background-size: cover;
}

.hh{
   background-image: url(images/varoom.jpg);
	background-size: cover;
}



.credit{
	position: absolute;
	bottom: 0;
	left: 0;	
	width: 100%;
}

.nav{
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    
}

.sun2{
	position: fixed;
	top: 0;
	width: 140%;
	left: -20%;
}

.left{
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
}

.right{
	position: fixed;
	right: 0;
	top: 0;
	height: 100vh;
}

#animation{
	height: 3000px;
}

.man{
	position: fixed;
    width: 8%;
	left: 47%;
}

.owl-theme{
	position: absolute;
	top: 200px;
	left: 0;
	color: black;
}

.stage p{
	font-size: 0.6em;
	font-weight: 400;
	line-height: 40px;
}

a{
	text-decoration: none;
	color:  #8c9898;
}

.box:hover{
	cursor: pointer;
}