
      body {
        margin: 0px;
        padding: 0px;
        width: auto;
        height: auto;

        background: #353535;

      }
      
      


      @keyframes blink{
        0%   {opacity: 0.5}
        45%  {opacity: 1}
        50%  {opacity: 0}
        55%  {opacity: 1}
        65%  {opacity: 0}
        70%  {opacity: 1}
        75% {opacity: 0}
        80% {opacity: 1}
        85% {opacity: 0}
      }

      @keyframes blink2{
        0%   {opacity: 0}
        45%  {opacity: 1}
        50%  {opacity: 0}
        55%  {opacity: 1}
       
        75% {opacity: 0}
        80% {opacity: 1}
        85% {opacity: 1}
        100% {opacity: 1}
      }

      .a{
        position: absolute;
        left: 0px;
      }
      .sa{
        position: absolute;
        top: 6px;
        left: -4px;
        filter: blur(2.5px);
      }

      .va{
        position: absolute;
        left: 0px;
        animation:disappeara 6.6s infinite;
      }

      .ga{
        position: absolute;
        left: 0px;
        animation:appeara 6.6s infinite;
        
      }

      .bga{
        position: absolute;
        left: 0px;
        display: none;
        animation:appeara 6.6s infinite;
      }
      

      @keyframes appeara{
        0%   {display:initial; opacity: 0;filter: blur(30.5px);}
        72%  {display:initial;opacity: 0;filter: blur(30.5px);}
        72.1%  {display:initial;opacity: 1;filter: blur(30.5px);}
        74%  {display:initial;opacity: 0;filter: blur(30.5px);}
        75%  {display:initial;opacity: 1;filter: blur(30.5px);}
        77%  {display:initial;opacity: 0;filter: blur(30.5px);}
        79%  {display:initial;opacity: 1;filter: blur(30.5px);}
        81%  {display:initial;opacity: 0;filter: blur(30.5px);}
        100%  {display:initial;opacity: 0;filter: blur(30.5px);}
      }

      @keyframes disappeara{
        0%   {display:initial; opacity: 1}
        72%  {display:initial;opacity: 1}
        72.1%  {display:initial;opacity: 0}
        74%  {display:initial;opacity: 1}
        75%  {display:initial;opacity: 0}
        77%  {display:initial;opacity: 1}
        79%  {display:initial;opacity: 0}
        81%  {display:initial;opacity: 1}
        100%  {display:initial;opacity: 1}
      }

     

      .b{
        position: absolute;
        left: -135px;
        transform: scale(-1,1);
      }

      .sb{
        position: absolute;
        left: -139px;
        top: 6px;
        transform: scale(-1,1);
        filter: blur(2.5px);
      }
      
      .vb{
        position: absolute;
        left: -135px;
        transform: scale(-1,1);
        animation:disappearb 6.6s infinite;
      }

      .gb{
        position: absolute;
        left: -135px;
        transform: scale(-1,1);
        animation:appearb 6.6s infinite;
      }

      .bgb{
        position: absolute;
        left: -135px;
        transform: scale(-1,1);
        display: none;
        animation:appearb 6.6s infinite;
      }

      @keyframes appearb{
        0%   {display:initial; opacity: 0;filter: blur(30.5px);}
        54%  {display:initial;opacity: 0;filter: blur(30.5px);}
        54.1%  {display:initial;opacity: 1;filter: blur(30.5px);}
        55%  {display:initial;opacity: 0;filter: blur(30.5px);}
        57%  {display:initial;opacity: 1;filter: blur(30.5px);}
        59%  {display:initial;opacity: 0;filter: blur(30.5px);}
        61%  {display:initial;opacity: 1;filter: blur(30.5px);}
        63%  {display:initial;opacity: 0;filter: blur(30.5px);}
        100%  {display:initial;opacity: 0;filter: blur(30.5px);}
      }

      @keyframes disappearb{
        0%   {display:initial; opacity: 1}
        54%  {display:initial;opacity: 1}
        54.1%  {display:initial;opacity: 0}
        55%  {display:initial;opacity: 1}
        57%  {display:initial;opacity: 0}
        59%  {display:initial;opacity: 1}
        61%  {display:initial;opacity: 0}
        63%  {display:initial;opacity: 1}
        100%  {display:initial;opacity: 1}
      }


   

    
      .c{
        position: absolute;
        left: 185px;
      }

      .sc{
        position: absolute;
        left: 179px;
        filter: blur(2.5px);
        top: 6px;
      }
      .vc{
        position: absolute;
        left: 185px;
      }
      .gc{
        position: absolute;
        left: 185px;
      }
      .bgc{
        position: absolute;
        left: 185px;
        display: none;
      }




      .sd{
        position: absolute;
        left: 238px;
        top: 6px;
        filter: blur(2.5px);
      }
      .d{
        position: absolute;
        left: 244px;
      }
      .vd{
        position: absolute;
        left: 244px;
        animation:disappeard 6.6s infinite;
      }
      .gd{
        position: absolute;
        left: 244px;
        animation:appeard 6.6s infinite;
      }
      .bgd{
        position: absolute;
        left: 244px;
        display: none;
        animation:appeard 6.6s infinite;
      }

      @keyframes appeard{
        0%   {display:initial; opacity: 0;filter: blur(30.5px);}
        90%  {display:initial;opacity: 0;filter: blur(30.5px);}
        90.1%  {display:initial;opacity: 1;filter: blur(30.5px);}
        93%  {display:initial;opacity: 0;filter: blur(30.5px);}
        94%  {display:initial;opacity: 1;filter: blur(30.5px);}
        96%  {display:initial;opacity: 0;filter: blur(30.5px);}
        97%  {display:initial;opacity: 1;filter: blur(30.5px);}
        99%  {display:initial;opacity: 0;filter: blur(30.5px);}
        100%  {display:initial;opacity: 0;filter: blur(30.5px);}
      }

      @keyframes disappeard{
        0%   {display:initial; opacity: 1}
        90%  {display:initial;opacity: 1}
        90.1%  {display:initial;opacity: 0}
        93%  {display:initial;opacity: 1}
        94%  {display:initial;opacity: 0}
        96%  {display:initial;opacity: 1}
        97%  {display:initial;opacity: 0}
        99%  {display:initial;opacity: 1}
        100%  {display:initial;opacity: 1}
      }
 



      .e{
        position: absolute;
        left: 345px;
      }
      .se{
        position: absolute;
        left: 339px;
        top: 6px;
        filter: blur(2.5px);
      }
      .ve{
        position: absolute;
        left: 345px;

        animation:disappeare 6.6s infinite;
        
        
      }
      .ge{
        position: absolute;
        left: 345px;
        filter: blur(3.5px);
        animation:appeare 6.6s infinite;
        
      
      }
      .bge{
        position: absolute;
        left: 345px;
        display: none;
        filter: blur(30.5px);
        animation:appeare 6.6s infinite;
        
      }
      
      @keyframes appeare{
        0%   {display:initial; opacity: 0;filter: blur(30.5px);}
        18%  {display:initial;opacity: 0;filter: blur(30.5px);}
        18.1%  {display:initial;opacity: 1;filter: blur(30.5px);}
        19%  {display:initial;opacity: 0;filter: blur(30.5px);}
        20%  {display:initial;opacity: 1;filter: blur(30.5px);}
        21%  {display:initial;opacity: 0;filter: blur(30.5px);}
        25%  {display:initial;opacity: 1;filter: blur(30.5px);}
        27%  {display:initial;opacity: 0}
        36%  {display:initial;opacity: 0}
        36.1%  {display:initial;opacity: 1}
        38.1%  {display:initial;opacity: 0}
        39.1%  {display:initial;opacity: 1}
        42.1%  {display:initial;opacity: 0}
        44%  {display:initial;opacity: 1}
        45%  {display:initial;opacity: 0}
        100%  {display:initial;opacity: 0}
      }

      @keyframes disappeare{
        0%   {display:initial; opacity: 1}
        18%  {display:initial;opacity: 1}
        18.1%  {display:initial;opacity: 0}
        19%  {display:initial;opacity: 1}
        20%  {display:initial;opacity: 0}
        21%  {display:initial;opacity: 1}
        25%  {display:initial;opacity: 0}
        27%  {display:initial;opacity: 1}
        36%  {display:initial;opacity: 1}
        36.1%  {display:initial;opacity: 0}
        38.1%  {display:initial;opacity: 1}
        39.1%  {display:initial;opacity: 0}
        42.1%  {display:initial;opacity: 1}
        44%  {display:initial;opacity: 0}
        45%  {display:initial;opacity: 1}
        100%  {display:initial;opacity: 1}
      }


      .sf{
        position: absolute;
        left: 429px;
        top: 6px;
        filter: blur(2.5px);
      }
      .f{
        position: absolute;
        left: 435px;
      }
      .vf{
        position: absolute;
        left: 435px;
      }
      .gf{
        position: absolute;
        left: 435px;
      }
      .bgf{
        position: absolute;
        left: 435px;
        display: none;
      }




      .sg{
        position: absolute;
        left: 514px;
        top: 6px;
        filter: blur(2.5px);
      }
      .g{
        position: absolute;
        left: 520px;
      }
      .vg{
        position: absolute;
        left: 520px;
      }
      .gg{
        position: absolute;
        left: 520px;
      }
      .bgg{
        position: absolute;
        left: 520px;
        display: none;
      }
      



      .sh{
        position: absolute;
        left: 374px;
        top: 6px;
        transform: scale(-1,1);
        filter: blur(2.5px);
      }
      .h{
        position: absolute;
        left: 380px;
        transform: scale(-1,1);
      }
      .vh{
        position: absolute;
        left: 380px;
        transform: scale(-1,1);
      }
      .gh{
        position: absolute;
        left: 380px;
        transform: scale(-1,1);
      }
      .bgh{
        position: absolute;
        left: 380px;
        transform: scale(-1,1);
        display: none;
      }
      



      .si{
     
        position: absolute;
        left: 409px;
        top:-21px;
        transform: scale(-1,1);
        filter: blur(2.5px);
      }

      .vi{
        position: absolute;
        left: 415px;
        top:-27px;
        transform: scale(-1,1);
      }

      .gi{
        position: absolute;
        left: 415px;
        top:-27px;
        transform: scale(-1,1);
      }

      .bgi{
        position: absolute;
        left: 415px;
        top:-27px;
        transform: scale(-1,1);
        display: none;
      }

      .i{
        position: absolute;
        left: 415px;
        top:-27px;
        transform: scale(-1,1);
      }




      .j{
        position: absolute;
        left: 476px;
        top:96px;
        transform: scale(-1,-1);
      }
      .sj{
        position: absolute;
        left: 470px;
        top:102px;
        transform: scale(-1,-1);
        filter: blur(2.5px);
      }
      .vj{
        position: absolute;
        left: 476px;
        top:96px;
        transform: scale(-1,-1);
      }
      .gj{
        position: absolute;
        left: 476px;
        top:96px;
        transform: scale(-1,-1);
      }
      .bgj{
        position: absolute;
        left: 476px;
        top:96px;
        transform: scale(-1,-1);
        display: none;
      }




      .k{
        position: absolute;
        left: -228px;
        top:127px;
        transform: scale(-1,1);
      }
      .sk{
        position: absolute;
        left: -234px;
        top:133px;
        transform: scale(-1,1);
        filter: blur(2.5px);
      }
      .vk{
        position: absolute;
        left: -228px;
        top:127px;
        transform: scale(-1,1);
        animation:disappeark 6.6s infinite;
      }
      .gk{
        position: absolute;
        left: -228px;
        top:127px;
        transform: scale(-1,1);
        filter: blur(3.5px);
        animation:appeark 6.6s infinite;
      }
      .bgk{
        position: absolute;
        left: -228px;
        top:127px;
        transform: scale(-1,1);
        display: none;
        filter: blur(30.5px);
        animation:appeark 6.6s infinite;
      }
      
      @keyframes appeark{
        0%   {display:initial; opacity: 0}
        27%  {display:initial;opacity: 0}
        27.1%  {display:initial;opacity: 1;filter: blur(30.5px);}
        28%  {display:initial;opacity: 0}
        29%  {display:initial;opacity: 1;filter: blur(30.5px);}
        32%  {display:initial;opacity: 0}
        34%  {display:initial;opacity: 1;filter: blur(30.5px);}
        36%  {display:initial;opacity: 0}
        100%  {display:initial;opacity: 0}
      }

      @keyframes disappeark{
        0%   {display:initial; opacity: 1}
        27%  {display:initial;opacity: 1}
        27.1%  {display:initial;opacity: 0}
        28%  {display:initial;opacity: 1}
        29%  {display:initial;opacity: 0}
        32%  {display:initial;opacity: 1}
        34%  {display:initial;opacity: 0}
        36%  {display:initial;opacity: 1}
        100%  {display:initial;opacity: 1}
      }




      .l{
        position: absolute;
        left: 87px;
        top:191px;
        transform: scale(1,-1);
      }

      .sl{
        position: absolute;
        left: 81px;
        top:197px;
        transform: scale(1,-1);
        filter: blur(2.5px);
      }
      .vl{
        position: absolute;
        left: 87px;
        top:191px;
        transform: scale(1,-1);
      }
      .gl{
        position: absolute;
        left: 87px;
        top:191px;
        transform: scale(1,-1);
      }
      .bgl{
        position: absolute;
        left: 87px;
        top:191px;
        transform: scale(1,-1);
        display: none;
      }






      .m{
        position: absolute;
        left: 159px;
        top:128px;
        transform: scale(1,1);
      }
      .sm{
        position: absolute;
        left: 153px;
        top:134px;
        transform: scale(1,1);
        filter: blur(2.5px);
      }
       .vm{
        position: absolute;
        left: 159px;
        top:128px;
        transform: scale(1,1);
      }
       .gm{
        position: absolute;
        left: 159px;
        top:128px;
        transform: scale(1,1);
      }
       .bgm{
        position: absolute;
        left: 159px;
        top:128px;
        transform: scale(1,1);
        display: none;
      }








      .n{
        position: absolute;
        left: 86px;
        top:128px;
        transform: scale(-1,1);
      }
      .sn{
        position: absolute;
        left: 80px;
        top:134px;
        transform: scale(-1,1);
        filter: blur(2.5px);
      }
      .vn{
        position: absolute;
        left: 86px;
        top:128px;
        transform: scale(-1,1);
      }
      .gn{
        position: absolute;
        left: 86px;
        top:128px;
        transform: scale(-1,1);
      }
      .bgn{
        position: absolute;
        left: 86px;
        top:128px;
        transform: scale(-1,1);
        display: none;
      }







      .o{
        position: absolute;
        left: 418px;
        top:128px;
        transform: scale(1,1);
      }
      .so{
        position: absolute;
        left: 412px;
        top:134px;
        transform: scale(1,1);
        filter: blur(2.5px);
      }
      .vo{
        position: absolute;
        left: 418px;
        top:128px;
        transform: scale(1,1);
        animation:disappearo 6.6s infinite;
      }
      .go{
        position: absolute;
        left: 418px;
        top:128px;
        transform: scale(1,1);
        animation:appearo 6.6s infinite;
      }
      .bgo{
        position: absolute;
        left: 418px;
        top:128px;
        transform: scale(1,1);
        display: none;
        animation:appearo 6.6s infinite;
      }

      @keyframes appearo{
        0%   {display:initial; opacity: 0;filter: blur(30.5px);}
        63%  {display:initial;opacity: 0;filter: blur(30.5px);}
        63.1%  {display:initial;opacity: 1;filter: blur(30.5px);}
        67%  {display:initial;opacity: 0;filter: blur(30.5px);}
        68%  {display:initial;opacity: 1;filter: blur(30.5px);}
        69%  {display:initial;opacity: 0;filter: blur(30.5px);}
        70%  {display:initial;opacity: 1;filter: blur(30.5px);}
        72%  {display:initial;opacity: 0;filter: blur(30.5px);}
        100%  {display:initial;opacity: 0;filter: blur(30.5px);}
      }

      @keyframes disappearo{
        0%   {display:initial; opacity: 1}
        63%  {display:initial;opacity: 1}
        63.1%  {display:initial;opacity: 0}
        67%  {display:initial;opacity: 1}
        68%  {display:initial;opacity: 0}
        69%  {display:initial;opacity: 1}
        70%  {display:initial;opacity: 0}
        72%  {display:initial;opacity: 1}
        100%  {display:initial;opacity: 1}
      }






      .p{
        position: absolute;
        left: 278px;
        transform: scale(-1,-1);
        top: 192px;
      }
      .sp{
        position: absolute;
        left: 272px;
        transform: scale(-1,-1);
        top: 198px;
        filter: blur(2.5px);
      }
      .vp{
        position: absolute;
        left: 278px;
        transform: scale(-1,-1);
        top: 192px;
      }
      .gp{
        position: absolute;
        left: 278px;
        transform: scale(-1,-1);
        top: 192px;
      }
      .bgp{
        position: absolute;
        left: 278px;
        transform: scale(-1,-1);
        top: 192px;
        display: none;
      }




      .q{
        position: absolute;
        left: 589px;
        top:191px;
        transform: scale(1,-1);
      }
      .sq{
        position: absolute;
        left: 581px;
        top:197px;
        transform: scale(1,-1);
        filter: blur(2.5px);
      }
      .vq{
        position: absolute;
        left: 589px;
        top:191px;
        transform: scale(1,-1);
      }
      .gq{
        position: absolute;
        left: 589px;
        top:191px;
        transform: scale(1,-1);
      }
      .bgq{
        position: absolute;
        left: 589px;
        top:191px;
        transform: scale(1,-1);
        display: none;
      }


      .r{
        position: absolute;
        left: 691px;
        top:128px;
        transform: scale(1,1);
      }
      .sr{
        position: absolute;
        left: 685px;
        top:134px;
        transform: scale(1,1);
        filter: blur(2.5px);
      }
      .vr{
        position: absolute;
        left: 691px;
        top:128px;
        transform: scale(1,1);
        animation:disappearr 6.6s infinite;
      }
      .gr{
        position: absolute;
        left: 691px;
        top:128px;
        transform: scale(1,1);
        animation:appearr 6.6s infinite;
      }
      .bgr{
        position: absolute;
        left: 691px;
        top:128px;
        transform: scale(1,1);
        display: none;
        animation:appearr 6.6s infinite;
      }
      
      @keyframes appearr{
        0%   {display:initial; opacity: 0;filter: blur(30.5px);}
        81%  {display:initial;opacity: 0;filter: blur(30.5px);}
        81.1%  {display:initial;opacity: 1;filter: blur(30.5px);}
        82%  {display:initial;opacity: 0;filter: blur(30.5px);}
        83%  {display:initial;opacity: 1;filter: blur(30.5px);}
        85%  {display:initial;opacity: 0;filter: blur(30.5px);}
        87%  {display:initial;opacity: 1;filter: blur(30.5px);}
        90%  {display:initial;opacity: 0;filter: blur(30.5px);}
        100%  {display:initial;opacity: 0;filter: blur(30.5px);}
      }

      @keyframes disappearr{
        0%   {display:initial; opacity: 1}
        81%  {display:initial;opacity: 1}
        81.1%  {display:initial;opacity: 0}
        82%  {display:initial;opacity: 1}
        83%  {display:initial;opacity: 0}
        85%  {display:initial;opacity: 1}
        87%  {display:initial;opacity: 0}
        90%  {display:initial;opacity: 1}
        100%  {display:initial;opacity: 1}
      }




      .s{
        position: absolute;
        left: 787px;
        top:131px;
        transform: scale(1,1);
      }
      .ss{
        position: absolute;
        left: 781px;
        top:137px;
        transform: scale(1,1);
        filter: blur(2.5px);
      }
      .vs{
        position: absolute;
        left: 787px;
        top:131px;
        transform: scale(1,1);
        animation:disappears 6.6s infinite;
       
      }
      .gs{
        position: absolute;
        left: 787px;
        top:131px;
        transform: scale(1,1);
        filter: blur(3.5px);
        animation:appears 6.6s infinite;
       
      }
      .bgs{
        position: absolute;
        left: 787px;
        top:131px;
        transform: scale(1,1);
        display: none;
        filter: blur(30.5px);
        animation:appears 6.6s infinite;
        
      }
      

      @keyframes appears{
        0%   {display:initial; opacity: 0;filter: blur(30.5px);}
        9%  {display:initial;opacity: 0;filter: blur(30.5px);}
        9.1%  {display:initial;opacity: 1;filter: blur(30.5px);}
        14%  {display:initial;opacity: 0;filter: blur(30.5px);}
        15%  {display:initial;opacity: 1;filter: blur(30.5px);}
        16%  {display:initial;opacity: 0;filter: blur(30.5px);}
        17%  {display:initial;opacity: 1;filter: blur(30.5px);}
        18%  {display:initial;opacity: 0;filter: blur(30.5px);}
        100%  {display:initial;opacity: 0;filter: blur(30.5px);}
      }

      @keyframes disappears{
        0%   {display:initial; opacity: 1}
        9%  {display:initial;opacity: 1}
        9.1%  {display:initial;opacity: 0}
        14%  {display:initial;opacity: 1}
        15%  {display:initial;opacity: 0}
        16%  {display:initial;opacity: 1}
        17%  {display:initial;opacity: 0}
        18%  {display:initial;opacity: 1}
        100%  {display:initial;opacity: 1}
      }



      .t{
        position: absolute;
        left: 7px;
        top:251px;
      }
      .st{
        position: absolute;
        left: 1px;
        top:257px;
        filter: blur(2.5px);
      }
      .vt{
        position: absolute;
        left: 7px;
        top:251px;
      }
      .gt{
        position: absolute;
        left: 7px;
        top:251px;
      }
      .bgt{
        position: absolute;
        left: 7px;
        top:251px;
        display: none;
      }




      .u{
        position: absolute;
        left: 88px;
        top:312px;
        transform: scale(1,-1);
      }
      .su{
        position: absolute;
        left: 82px;
        top:318px;
        transform: scale(1,-1);
        filter: blur(2.5px);
      }
      .vu{
        position: absolute;
        left: 88px;
        top:312px;
        transform: scale(1,-1);
        animation:disappearu 6.6s infinite;
      }
      .gu{
        position: absolute;
        left: 88px;
        top:312px;
        transform: scale(1,-1);
        filter: blur(3.5px);
        animation:appearu 6.6s infinite;
      }
      .bgu{
        position: absolute;
        left: 88px;
        top:312px;
        transform: scale(1,-1);
        filter: blur(30.5px);
        animation:appearu 6.6s infinite;

      }

      @keyframes appearu{
        0%   {display:initial; opacity: 0.5}
        4%  {display:initial;opacity: 1}
        5%  {display:initial;opacity: 0}
        6%  {display:initial;opacity: 1}
        7%  {display:initial;opacity: 0}
        8%  {display:initial;opacity: 1}
        9%  {display:initial;opacity: 0}
        100%  {display:initial;opacity: 0}
      }

      @keyframes disappearu{
        0%   {display:initial; opacity: 0.5}
        4%  {display:initial;opacity: 0}
        5%  {display:initial;opacity: 1}
        6%  {display:initial;opacity: 0}
        7%  {display:initial;opacity: 1}
        8%  {display:initial;opacity: 0}
        9%  {display:initial;opacity: 1}
        100%  {display:initial;opacity: 1}
      }


      .v{
        position: absolute;
        left: 185px;
        top:312px;
        transform: scale(1,-1);
      }

      .vv{
        position: absolute;
        left: 185px;
        top:312px;
        transform: scale(1,-1);
      }
      .gv{
        position: absolute;
        left: 185px;
        top:312px;
        transform: scale(1,-1);
      }
      .bgv{
        position: absolute;
        left: 185px;
        top:312px;
        transform: scale(1,-1);
        display: none;
      }
      .sv{
        position: absolute;
        left: 179px;
        top:318px;
        transform: scale(1,-1);
        filter: blur(2.5px);
      }





      .w{
        position: absolute;
        left: 274px;
        top:312px;
        transform: scale(1,-1);
      }
      .sw{
        position: absolute;
        left: 268px;
        top:318px;
        transform: scale(1,-1);
        filter: blur(2.5px);
      }
      .vw{
        position: absolute;
        left: 274px;
        top:312px;
        transform: scale(1,-1);
      }
      .gw{
        position: absolute;
        left: 274px;
        top:312px;
        transform: scale(1,-1);
      }
      .bgw{
        position: absolute;
        left: 274px;
        top:312px;
        transform: scale(1,-1);
        display: none;
      }



      .x{
        position: absolute;
        left: 427px;
        top:248px;
        transform: scale(1,1);
      }
      .sx{
        position: absolute;
        left: 421px;
        top:254px;
        transform: scale(1,1);
        filter: blur(2.5px);
      }
      .vx{
        position: absolute;
        left: 427px;
        top:248px;
        transform: scale(1,1);
      }
      .gx{
        position: absolute;
        left: 427px;
        top:248px;
        transform: scale(1,1);
      }
      .bgx{
        position: absolute;
        left: 427px;
        top:248px;
        transform: scale(1,1);
        display: none;
      }




      .y{
        position: absolute;
        left: 520px;
        top:312px;
        transform: scale(1,-1);
      }
      .sy{
        position: absolute;
        left: 512px;
        top:318px;
        transform: scale(1,-1);
        filter: blur(2.5px);
      }
      .vy{
        position: absolute;
        left: 520px;
        top:312px;
        transform: scale(1,-1);
        animation:disappeary 6.6s infinite;
      }
      .gy{
        position: absolute;
        left: 520px;
        top:312px;
        transform: scale(1,-1);
        animation:appeary 6.6s infinite;
      }
      .bgy{
        position: absolute;
        left: 520px;
        top:312px;
        transform: scale(1,-1);
        display: none;
        animation:appeary 6.6s infinite;
      }

      @keyframes appeary{
        0%   {display:initial; opacity: 0;filter: blur(30.5px);}
        45%  {display:initial;opacity: 0;filter: blur(30.5px);}
        45.1%  {display:initial;opacity: 1;filter: blur(30.5px);}
        48%  {display:initial;opacity: 0;filter: blur(30.5px);}
        49%  {display:initial;opacity: 1;filter: blur(30.5px);}
        50%  {display:initial;opacity: 0;filter: blur(30.5px);}
        52%  {display:initial;opacity: 1;filter: blur(30.5px);}
        54%  {display:initial;opacity: 0;filter: blur(30.5px);}
        100%  {display:initial;opacity: 0;filter: blur(30.5px);}
      }

      @keyframes disappeary{
        0%   {display:initial; opacity: 1}
        45%  {display:initial;opacity: 1}
        45.1%  {display:initial;opacity: 0}
        48%  {display:initial;opacity: 1}
        49%  {display:initial;opacity: 0}
        50%  {display:initial;opacity: 1}
        52%  {display:initial;opacity: 0}
        54%  {display:initial;opacity: 1}
        100%  {display:initial;opacity: 1}
      }


      .z{
        position: absolute;
        left: 623px;
        top:251px;
        transform: scale(1,1);
      }
      .sz{
        position: absolute;
        left: 617px;
        top:257px;
        transform: scale(1,1);
        filter: blur(2.5px);
      }
      .vz{
        position: absolute;
        left: 623px;
        top:251px;
        transform: scale(1,1);
      }
      .gz{
        position: absolute;
        left: 623px;
        top:251px;
        transform: scale(1,1);
      }
      .bgz{
        position: absolute;
        left: 623px;
        top:251px;
        transform: scale(1,1);
        display: none;
      }




      .a1{
        position: absolute;
        left: -289px;
        top:335px;
        transform: scale(-1,1);
      }
      .sa1{
        position: absolute;
        left: -295px;
        top:341px;
        transform: scale(-1,1);
        filter: blur(2.5px);
      }
      .va1{
        position: absolute;
        left: -289px;
        top:335px;
        transform: scale(-1,1);
      }
      .ga1{
        position: absolute;
        left: -289px;
        top:335px;
        transform: scale(-1,1);
      }
      .bga1{
        position: absolute;
        left: -289px;
        top:335px;
        transform: scale(-1,1);
        display: none;
      }


       .aa{
        position: absolute;
        left: -137px;
        top:309px;
        transform: scale(-1,1);
      }
       .saa{
        position: absolute;
        left: -143px;
        top:315px;
        transform: scale(-1,1);
        filter: blur(2.5px);
      }
       .vaa{
        position: absolute;
        left: -137px;
        top:309px;
        transform: scale(-1,1);
      }
       .gaa{
        position: absolute;
        left: -137px;
        top:309px;
        transform: scale(-1,1);
      }
       .bgaa{
        position: absolute;
        left: -137px;
        top:309px;
        transform: scale(-1,1);
        display: none;
      }


      .a3{
        position: absolute;
        left: 56px;
        top:309px;
        transform: scale(1,1);
      }
      .sa3{
        position: absolute;
        left: 50px;
        top:315px;
        transform: scale(1,1);
        filter: blur(2.5px);
      }
      .va3{
        position: absolute;
        left: 56px;
        top:309px;
        transform: scale(1,1);
      }
      .ga3{
        position: absolute;
        left: 56px;
        top:309px;
        transform: scale(1,1);
      }
      .bga3{
        position: absolute;
        left: 56px;
        top:309px;
        transform: scale(1,1);
        display: none;
      }


      .a4{
        position: absolute;
        left: 195px;
        top:225px;
        transform: scale(1,-1);
      }
      .sa4{
        position: absolute;
        left: 186px;
        top:231px;
        transform: scale(1,-1);
        filter: blur(2.5px);
      }
      .va4{
        position: absolute;
        left: 195px;
        top:225px;
        transform: scale(1,-1);
      }
      .ga4{
        position: absolute;
        left: 195px;
        top:225px;
        transform: scale(1,-1);
      }
      .bga4{
        position: absolute;
        left: 195px;
        top:225px;
        transform: scale(1,-1);
        display: none;
      }

      

      .a5{
        position: absolute;
        left: 285px;
        top:380px;
        transform: scale(1,1);
      }
      .sa5{
        position: absolute;
        left: 279px;
        top:386px;
        transform: scale(1,1);
        filter: blur(2.5px);
      }
      .va5{
        position: absolute;
        left: 285px;
        top:380px;
        transform: scale(1,1);
      }
      .ga5{
        position: absolute;
        left: 285px;
        top:380px;
        transform: scale(1,1);
      }
      .bga5{
        position: absolute;
        left: 285px;
        top:380px;
        transform: scale(1,1);
        display: none;
      }


      .a6{
        position: absolute;
        left: 383px;
        top:380px;
        transform: scale(1,1);
      }
      .sa6{
        position: absolute;
        left: 377px;
        top:386px;
        transform: scale(1,1);
        filter: blur(2.5px);
      }
      .va6{
        position: absolute;
        left: 383px;
        top:380px;
        transform: scale(1,1);
      }
      .ga6{
        position: absolute;
        left: 383px;
        top:380px;
        transform: scale(1,1);
      }
      .bga6{
        position: absolute;
        left: 383px;
        top:380px;
        transform: scale(1,1);
        display: none;
      }



      .a7{
        position: absolute;
        left: 235px;
        top:362px;
        transform: scale(-1,1);
      }
      .sa7{
        position: absolute;
        left: 229px;
        top:368px;
        transform: scale(-1,1);
        filter: blur(2.5px);
      }
      .va7{
        position: absolute;
        left: 235px;
        top:362px;
        transform: scale(-1,1);
      }
      .ga7{
        position: absolute;
        left: 235px;
        top:362px;
        transform: scale(-1,1);
      }
      .bga7{
        position: absolute;
        left: 235px;
        top:362px;
        transform: scale(-1,1);
        display: none;
      }



      .sa8{
        position: absolute;
        left: 500px;
        top:315px;
        transform: scale(1,1);
        filter: blur(2.5px);
      }
      .va8{
        position: absolute;
        left: 506px;
        top:309px;
        transform: scale(1,1);
      }
      .ga8{
        position: absolute;
        left: 506px;
        top:309px;
        transform: scale(1,1);
      }
      .bga8{
        position: absolute;
        left: 506px;
        top:309px;
        transform: scale(1,1);
        display: none;
      }
      .a8{
        position: absolute;
        left: 506px;
        top:309px;
        transform: scale(1,1);
      }


      .a9{
        position: absolute;
        left: 417px;
        top:240px;
        transform: scale(-1,-1);
      }
      .sa9{
        position: absolute;
        left: 411px;
        top:246px;
        transform: scale(-1,-1);
        filter: blur(2.5px);
      }
      .va9{
        position: absolute;
        left: 417px;
        top:240px;
        transform: scale(-1,-1);
      }
      .ga9{
        position: absolute;
        left: 417px;
        top:240px;
        transform: scale(-1,-1);
      }
      .bga9{
        position: absolute;
        left: 417px;
        top:240px;
        transform: scale(-1,-1);
        display: none;
      }


      .a0{
        position: absolute;
        left: 727px;
        top:240px;
        transform: scale(1,-1);
      }
      .sa0{
        position: absolute;
        left: 721px;
        top:246px;
        transform: scale(1,-1);
        filter: blur(2.5px);
      }
      .va0{
        position: absolute;
        left: 727px;
        top:240px;
        transform: scale(1,-1);
      }
      .ga0{
        position: absolute;
        left: 727px;
        top:240px;
        transform: scale(1,-1);
      }
      .bga0{
        position: absolute;
        left: 727px;
        top:240px;
        transform: scale(1,-1);
        display: none;
      }
    


      .dot{
        position: absolute;
        left: -55px;
        top:590px;
        transform: scale(1,1);
      }
      .sdot{
        position: absolute;
        left: -61px;
        top:596px;
        transform: scale(1,1);
        filter: blur(2.5px);
      }
      .vdot{
        position: absolute;
        left: -55px;
        top:590px;
        transform: scale(1,1);
      }
      .gdot{
        position: absolute;
        left: -55px;
        top:590px;
        transform: scale(1,1);
      }
      .bgdot{
        position: absolute;
        left: -55px;
        top:590px;
        transform: scale(1,1);
        display: none;
      }


      .comma{
        position: absolute;
        left: -200px;
        top:590px;
        transform: scale(-1,1);
      }
      .scomma{
        position: absolute;
        left: -206px;
        top:596px;
        transform: scale(-1,1);
        filter: blur(2.5px);
      }
      .vcomma{
        position: absolute;
        left: -200px;
        top:590px;
        transform: scale(-1,1);
      }
      .gcomma{
        position: absolute;
        left: -200px;
        top:590px;
        transform: scale(-1,1);
      }
      .bgcomma{
        position: absolute;
        left: -200px;
        top:590px;
        transform: scale(-1,1);
        display: none;
      }


      .question{
        position: absolute;
        left: -27px;
        top:453px;
        transform: scale(1,1);
      }
      .squestion{
        position: absolute;
        left: -33px;
        top:459px;
        transform: scale(1,1);
        filter: blur(2.5px);
      }
      .vquestion{
        position: absolute;
        left: -27px;
        top:453px;
        transform: scale(1,1);
      }
      .gquestion{
        position: absolute;
        left: -27px;
        top:453px;
        transform: scale(1,1);
      }
      .bgquestion{
        position: absolute;
        left: -27px;
        top:453px;
        transform: scale(1,1);
        display: none;
      }


      .exclamation{
        position: absolute;
        left: 40px;
        top:453px;
        transform: scale(1,1);
      }
      .sexclamation{
        position: absolute;
        left: 34px;
        top:459px;
        transform: scale(1,1);
        filter: blur(2.5px);
      }
      .vexclamation{
        position: absolute;
        left: 40px;
        top:453px;
        transform: scale(1,1);
      }
      .gexclamation{
        position: absolute;
        left: 40px;
        top:453px;
        transform: scale(1,1);
      }
      .bgexclamation{
        position: absolute;
        left: 40px;
        top:453px;
        transform: scale(1,1);
        display: none;
      }

      
      .leftquotation{
        position: absolute;
        left: 90px;
        top:453px;
        transform: scale(1,1);
      }
      .sleftquotation{
        position: absolute;
        left: 84px;
        top:459px;
        transform: scale(1,1);
        filter: blur(2.5px);
      }
      .vleftquotation{
        position: absolute;
        left: 90px;
        top:453px;
        transform: scale(1,1);
      }
      .gleftquotation{
        position: absolute;
        left: 90px;
        top:453px;
        transform: scale(1,1);
      }
      .bgleftquotation{
        position: absolute;
        left: 90px;
        top:453px;
        transform: scale(1,1);
        display: none;
      }

      
      .blur{
        filter: blur(3.5px);
        animation: blink 1s;
      }

      .blur2{
        filter: blur(30.5px);
        display: initial;
        animation: blink 1s;
      }

       .blur3{
        animation: blink2 1s infinite;
        filter: blur(30.5px);
        display: initial;
      }

      .opacity{
        opacity: 0;
        animation: blink 1s;
      }

