
      body {
        margin: 0px;
        padding: 0px;
        width: auto;
        height: auto;

        background: #454545; /* Old Browsers */
background: -webkit-linear-gradient(top,#454545,#191919); /*Safari 5.1-6*/
background: -o-linear-gradient(top,#454545,#191919); /*Opera 11.1-12*/
background: -moz-linear-gradient(top,#454545,#191919); /*Fx 3.6-15*/
background: linear-gradient(to bottom, #454545, #191919); /*Standard*/
      }
      
      


      @keyframes blink{
        0%   {opacity: 0.5}
        45%  {opacity: 1}
        50%  {opacity: 0}
        55%  {opacity: 1}
        65%  {opacity: 0}
        70%  {opacity: 1}
        75% {opacity: 0}
        80% {opacity: 1}
        85% {opacity: 0}
      }

      @keyframes blink2{
        0%   {opacity: 0}
        45%  {opacity: 1}
        50%  {opacity: 0}
        55%  {opacity: 1}
       
        75% {opacity: 0}
        80% {opacity: 1}
        85% {opacity: 1}
        100% {opacity: 1}
      }

      .a{
        position: absolute;
        left: 0px;
      }
      .sa{
        position: absolute;
        top: 6px;
        left: -4px;
        filter: blur(2.5px);
      }

      .va{
        position: absolute;
        left: 0px;
      }

      .ga{
        position: absolute;
        left: 0px;
        
      }

      .bga{
        position: absolute;
        left: 0px;
        display: none;
      }
  

     

      .b{
        position: absolute;
        left: -135px;
        transform: scale(-1,1);
      }

      .sb{
        position: absolute;
        left: -139px;
        top: 6px;
        transform: scale(-1,1);
        filter: blur(2.5px);
      }
      
      .vb{
        position: absolute;
        left: -135px;
        transform: scale(-1,1);
      }

      .gb{
        position: absolute;
        left: -135px;
        transform: scale(-1,1);
      
      }

      .bgb{
        position: absolute;
        left: -135px;
        transform: scale(-1,1);
        display: none;
      }

   

    
      .c{
        position: absolute;
        left: 185px;
      }

      .sc{
        position: absolute;
        left: 179px;
        filter: blur(2.5px);
        top: 6px;
      }
      .vc{
        position: absolute;
        left: 185px;
      }
      .gc{
        position: absolute;
        left: 185px;
      }
      .bgc{
        position: absolute;
        left: 185px;
        display: none;
      }




      .sd{
        position: absolute;
        left: 238px;
        top: 6px;
        filter: blur(2.5px);
      }
      .d{
        position: absolute;
        left: 244px;
      }
      .vd{
        position: absolute;
        left: 244px;
      }
      .gd{
        position: absolute;
        left: 244px;
      }
      .bgd{
        position: absolute;
        left: 244px;
        display: none;
      }




      .e{
        position: absolute;
        left: 345px;
      }
      .se{
        position: absolute;
        left: 339px;
        top: 6px;
        filter: blur(2.5px);
      }
      .ve{
        position: absolute;
        left: 345px;
        
        animation: blink 1s infinite;
      }
      .ge{
        position: absolute;
        left: 345px;
        filter: blur(3.5px);

      }
      .bge{
        position: absolute;
        left: 345px;
        display: none;
      }
      



      .sf{
        position: absolute;
        left: 429px;
        top: 6px;
        filter: blur(2.5px);
      }
      .f{
        position: absolute;
        left: 435px;
      }
      .vf{
        position: absolute;
        left: 435px;
      }
      .gf{
        position: absolute;
        left: 435px;
      }
      .bgf{
        position: absolute;
        left: 435px;
        display: none;
      }




      .sg{
        position: absolute;
        left: 514px;
        top: 6px;
        filter: blur(2.5px);
      }
      .g{
        position: absolute;
        left: 520px;
      }
      .vg{
        position: absolute;
        left: 520px;
      }
      .gg{
        position: absolute;
        left: 520px;
      }
      .bgg{
        position: absolute;
        left: 520px;
        display: none;
      }
      



      .sh{
        position: absolute;
        left: 374px;
        top: 6px;
        transform: scale(-1,1);
        filter: blur(2.5px);
      }
      .h{
        position: absolute;
        left: 380px;
        transform: scale(-1,1);
      }
      .vh{
        position: absolute;
        left: 380px;
        transform: scale(-1,1);
      }
      .gh{
        position: absolute;
        left: 380px;
        transform: scale(-1,1);
      }
      .bgh{
        position: absolute;
        left: 380px;
        transform: scale(-1,1);
        display: none;
      }
      



      .si{
     
        position: absolute;
        left: 409px;
        top:-21px;
        transform: scale(-1,1);
        filter: blur(2.5px);
      }

      .vi{
        position: absolute;
        left: 415px;
        top:-27px;
        transform: scale(-1,1);
      }

      .gi{
        position: absolute;
        left: 415px;
        top:-27px;
        transform: scale(-1,1);
      }

      .bgi{
        position: absolute;
        left: 415px;
        top:-27px;
        transform: scale(-1,1);
        display: none;
      }

      .i{
        position: absolute;
        left: 415px;
        top:-27px;
        transform: scale(-1,1);
      }




      .j{
        position: absolute;
        left: 476px;
        top:96px;
        transform: scale(-1,-1);
      }
      .sj{
        position: absolute;
        left: 470px;
        top:102px;
        transform: scale(-1,-1);
        filter: blur(2.5px);
      }
      .vj{
        position: absolute;
        left: 476px;
        top:96px;
        transform: scale(-1,-1);
      }
      .gj{
        position: absolute;
        left: 476px;
        top:96px;
        transform: scale(-1,-1);
      }
      .bgj{
        position: absolute;
        left: 476px;
        top:96px;
        transform: scale(-1,-1);
        display: none;
      }




      .k{
        position: absolute;
        left: -228px;
        top:127px;
        transform: scale(-1,1);
      }
      .sk{
        position: absolute;
        left: -234px;
        top:133px;
        transform: scale(-1,1);
        filter: blur(2.5px);
      }
      .vk{
        position: absolute;
        left: -228px;
        top:127px;
        transform: scale(-1,1);
      }
      .gk{
        position: absolute;
        left: -228px;
        top:127px;
        transform: scale(-1,1);
      }
      .bgk{
        position: absolute;
        left: -228px;
        top:127px;
        transform: scale(-1,1);
        display: none;
      }





      .l{
        position: absolute;
        left: 87px;
        top:191px;
        transform: scale(1,-1);
      }

      .sl{
        position: absolute;
        left: 81px;
        top:197px;
        transform: scale(1,-1);
        filter: blur(2.5px);
      }
      .vl{
        position: absolute;
        left: 87px;
        top:191px;
        transform: scale(1,-1);
      }
      .gl{
        position: absolute;
        left: 87px;
        top:191px;
        transform: scale(1,-1);
      }
      .bgl{
        position: absolute;
        left: 87px;
        top:191px;
        transform: scale(1,-1);
        display: none;
      }






      .m{
        position: absolute;
        left: 159px;
        top:128px;
        transform: scale(1,1);
      }
      .sm{
        position: absolute;
        left: 153px;
        top:134px;
        transform: scale(1,1);
        filter: blur(2.5px);
      }
       .vm{
        position: absolute;
        left: 159px;
        top:128px;
        transform: scale(1,1);
      }
       .gm{
        position: absolute;
        left: 159px;
        top:128px;
        transform: scale(1,1);
      }
       .bgm{
        position: absolute;
        left: 159px;
        top:128px;
        transform: scale(1,1);
        display: none;
      }








      .n{
        position: absolute;
        left: 86px;
        top:128px;
        transform: scale(-1,1);
      }
      .sn{
        position: absolute;
        left: 80px;
        top:134px;
        transform: scale(-1,1);
        filter: blur(2.5px);
      }
      .vn{
        position: absolute;
        left: 86px;
        top:128px;
        transform: scale(-1,1);
      }
      .gn{
        position: absolute;
        left: 86px;
        top:128px;
        transform: scale(-1,1);
      }
      .bgn{
        position: absolute;
        left: 86px;
        top:128px;
        transform: scale(-1,1);
        display: none;
      }







      .o{
        position: absolute;
        left: 418px;
        top:128px;
        transform: scale(1,1);
      }
      .so{
        position: absolute;
        left: 412px;
        top:134px;
        transform: scale(1,1);
        filter: blur(2.5px);
      }
      .vo{
        position: absolute;
        left: 418px;
        top:128px;
        transform: scale(1,1);
      }
      .go{
        position: absolute;
        left: 418px;
        top:128px;
        transform: scale(1,1);
      }
      .bgo{
        position: absolute;
        left: 418px;
        top:128px;
        transform: scale(1,1);
        display: none;
      }






      .p{
        position: absolute;
        left: 278px;
        transform: scale(-1,-1);
        top: 192px;
      }

      .q{
        position: absolute;
        left: 589px;
        top:191px;
        transform: scale(1,-1);
      }

      .r{
        position: absolute;
        left: 691px;
        top:128px;
        transform: scale(1,1);
      }

      .s{
        position: absolute;
        left: 787px;
        top:131px;
        transform: scale(1,1);
      }

      .t{
        position: absolute;
        left: 7px;
        top:251px;
      }

      .u{
        position: absolute;
        left: 88px;
        top:312px;
        transform: scale(1,-1);
      }

      .v{
        position: absolute;
        left: 185px;
        top:312px;
        transform: scale(1,-1);
      }

      .w{
        position: absolute;
        left: 274px;
        top:312px;
        transform: scale(1,-1);
      }

      .x{
        position: absolute;
        left: 427px;
        top:248px;
        transform: scale(1,1);
      }

      .y{
        position: absolute;
        left: 520px;
        top:312px;
        transform: scale(1,-1);
      }

      .z{
        position: absolute;
        left: 623px;
        top:251px;
        transform: scale(1,1);
      }

      .a1{
        position: absolute;
        left: -289px;
        top:335px;
        transform: scale(-1,1);
      }

      .a2{
        position: absolute;
        left: -137px;
        top:309px;
        transform: scale(-1,1);
      }

      .a3{
        position: absolute;
        left: 56px;
        top:309px;
        transform: scale(1,1);
      }

      .a4{
        position: absolute;
        left: 185px;
        top:225px;
        transform: scale(1,-1);
      }

      .a5{
        position: absolute;
        left: 285px;
        top:380px;
        transform: scale(1,1);
      }

      .a6{
        position: absolute;
        left: 383px;
        top:380px;
        transform: scale(1,1);
      }

      .a7{
        position: absolute;
        left: 235px;
        top:362px;
        transform: scale(-1,1);
      }

      .a8{
        position: absolute;
        left: 506px;
        top:309px;
        transform: scale(1,1);
      }

      .a9{
        position: absolute;
        left: 417px;
        top:240px;
        transform: scale(-1,-1);
      }

      .a9{
        position: absolute;
        left: 417px;
        top:240px;
        transform: scale(-1,-1);
      }

      .dot{
        position: absolute;
        left: -55px;
        top:590px;
        transform: scale(1,1);
      }

      .comma{
        position: absolute;
        left: -210px;
        top:590px;
        transform: scale(-1,1);
      }

      .question{
        position: absolute;
        left: -27px;
        top:453px;
        transform: scale(1,1);
      }

      .exclamation{
        position: absolute;
        left: 40px;
        top:453px;
        transform: scale(1,1);
      }
      
      .leftquotation{
        position: absolute;
        left: 90px;
        top:453px;
        transform: scale(1,1);
      }
      
      .blur{
        filter: blur(3.5px);
        animation: blink 1s;
      }

      .blur2{
        filter: blur(30.5px);
        display: initial;
        animation: blink 1s;
      }

       .blur3{
        animation: blink2 1s infinite;
        filter: blur(30.5px);
        display: initial;
      }

      .opacity{
        opacity: 0;
        animation: blink 1s;
      }

